<%= form_tag search_friends_path do %>
  <%= label_tag :username, 'Username' %>
  <%= text_field_tag :username, params[:username] %>
  <%= label_tag :email, 'Email' %>
  <%= text_field_tag :email, params[:email] %>
  <%= submit_tag "Search Friend", :name => nil %></p></br>
<% end %>
