<h1> DASHBOARD </h1>

<p> Pick A Location</p>

<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
</p>

<%=link_to "Enter Address", edit_users_path %>
<%=link_to "Fields Near You", near_fields_path %>
<%=link_to "Games", events_path %>
<%=link_to "Games Near You", near_games_path%>
